<div class="d-flex">


<app-sidebar></app-sidebar>

<!-- Main Container -->
  <div class="container">

    <!-- Primer Row -->
    <div class="row p-3">

      <div class="col">        

      <label for="Seach">Buscar</label>
      <input type="text" class="form-control" id="Seach" placeholder="Buscar Gif">

      </div>

    </div>
    <!-- Primer Row END-->

    <hr>

    <!-- Segunda Row -->
    <div class="row">
      
      <div class="col">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sint nobis saepe facilis omnis inventore, quasi iste tenetur. Odio voluptatum consequuntur, esse est dicta facilis minus quisquam quia deleniti expedita!
      
      </div>
    </div>
    <!-- Segunda Row END -->


  </div>
<!-- Main Container END -->


</div>